<title>Main Menu</title>
<h1>Main Menu</h1>
This is the main menu

<p>
  <%= link_to "Farmer", controller: "farmers" %>
</p>

<p>
  <%= link_to "Customer", controller: "customers" %>
</p>

<p>
<%= link_to "Inventory", controller: "inventories" %>
</p>

<p>
  <%= link_to "Sign Out", signout_path, method: "delete"  %>
</p>
