<title>Main Menu</title>
<h1>Main Menu</h1>
This is the main menu

<p>
  <%= link_to "Farmer", controller: "farmers" %>
</p>

<p>
  <% if customer? %>
  <%= link_to "Profile", controller: "admins", method: "show" %>
  <% else %>
  <%= link_to "Customer", controller: "customers" %>
  <% end %>
</p>

<p>
<%= link_to "Inventory", controller: "inventories" %>
</p>
